@model fypPromolac.Models.areaAssignedModel
@{
    ViewBag.Title = "Addarea";
}


<h2>Addarea</h2>
<link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.js"></script>
@using (Html.BeginForm("AddArea", "UserInfoes", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-group">

        @Html.LabelFor(model => model.vendorId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.vendorId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.vendorId, "", new { @class = "text-danger" })


        </div>


        @Html.LabelFor(model => model.areas, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">



        @Html.DropDownListFor(model => model.areas, new SelectList(Model.detail, "areaName", "areaName"), "Select", new { @class = "form-control chosen-select", @multiple = "true",@placeholder="Select Area"})

    </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>

    @Html.ActionLink("Back to Home", "../controlPanel/controlPanel")
}
<script type="text/javascript">

    $('.chosen-select').chosen();

</script>