@model IEnumerable<fypPromolac.notification>

@{
    ViewBag.Title = "vendorNotificationList";
}

<h2>vendorNotificationList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vendor.vendorUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notificationTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notificationDescription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.area.areaName)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vendor.vendorUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notificationTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notificationDescription)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.area.areaName)
            </td>



        </tr>
    }

</table>
